<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:amq="http://activemq.apache.org/schema/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.0.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
			http://activemq.apache.org/schema/core
			http://activemq.apache.org/schema/core/activemq-core-5.5.0.xsd
			http://www.springframework.org/schema/jms
			http://www.springframework.org/schema/jms/spring-jms.xsd">
	
	<context:annotation-config />
	
	<context:component-scan base-package="com.slf.pmapp" />
	
	<mvc:annotation-driven/>
		
	<context:property-placeholder location="classpath:config.properties" />
	
    <bean 	id="messageSource" 
    		class="org.springframework.context.support.ResourceBundleMessageSource"
    		p:basename="Messages"/>
	    
	<tx:annotation-driven transaction-manager="transactionManager" />
    
    <bean 	id="transactionManager" 
    		class="org.springframework.orm.hibernate3.HibernateTransactionManager" 
       		p:sessionFactory-ref="sessionFactory" />
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
	    <property name="dataSource" ref="dataSource"/>
	    <property name="hibernateProperties">
	      <props>        
	            <prop key="hibernate.dialect">${hibernate.dialect}</prop>          
	            <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
	       </props>
	    </property>
		<property name="packagesToScan" value="com.slf.pmapp"></property>
	</bean>
		
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
			p:driverClassName="${jdbc.driverClassName}"
			p:url="${jdbc.url}"
			p:username="${jdbc.username}"
			p:password="${jdbc.password}">
	</bean>
	  

	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="cacheSeconds" value="0" />
    </bean>
    
<!-- Activemq connection factory -->

<bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory"> 
    <property name="brokerURL">   
      <value>tcp://localhost:61616</value>
    </property>
</bean>
 
<!-- ConnectionFactory Definition -->
<bean id="jmsConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
<constructor-arg ref="amqConnectionFactory" />
</bean>


  
<!--  Default Destination Queue Definition-->
<bean id="defaultJmsDestination" class="org.apache.activemq.command.ActiveMQQueue">

<constructor-arg index="0" value="${jms.queue.name}"/>
</bean>

<!-- JmsTemplate Definition -->
<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">

<property name="connectionFactory" ref="jmsConnectionFactory" />

<property name="defaultDestination" ref="defaultJmsDestination" />

</bean>
<!-- Message Sender Definition -->

<bean id="jmsMessageSender" class="com.slf.pmapp.jms.JmsMessageSender">

<constructor-arg index="0" ref="jmsTemplate" />

</bean>

<!-- Message Receiver Definition -->

<bean id="jmsMessageReceiver" class="com.slf.pmapp.jms.JmsMessageReceiver">
</bean>
 
<bean class="org.springframework.jms.listener.SimpleMessageListenerContainer">

	<property name="connectionFactory" ref="jmsConnectionFactory" />

	<property name="destinationName" value="${jms.queue.name}" />

	<property name="messageListener" ref="jmsMessageReceiver" />

</bean>

<bean id="mailsender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host" value="smtp.gmail.com"/>
    <property name="port" value="587"/>
    <property name="username" value="venkatesan.rajagopal"/>       
    <property name="password" value="boilergrade"/>

    <property name="javaMailProperties">
        <props>
            <prop key="mail.transport.protocol">smtp</prop>
            <prop key="mail.smtps.auth">true</prop>
            <prop key="mail.smtp.starttls.enable">true</prop>
            <prop key="mail.smtp.ssl.enable">false</prop>
            <prop key="mail.debug">true</prop>
        </props>
    </property>
</bean>

<bean id="AlertMail" class="com.slf.pmapp.email.AlertMail">
    <property name="mailsender" ref="mailsender"/>
</bean>	

<bean id="velocityEngine"
    class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
    <property name="velocityProperties">
       <value>
        resource.loader=class
        class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
       </value>
    </property>
</bean>

<bean id="templateEmailer" class="com.slf.pmapp.email.TemplateEmailer">
    <property name="velocityEngine" ref="velocityEngine" />
</bean>



</beans>
