Dear ${user}

A request has been raised in iPM. It could either be assigned to you or could be a notification. Please login to your iPM account and check. This is a system generated email, please don't reply to this.

Thanks,
iPM Admin Team