Dear ${user}:
${newline}
A request has been raised in iPM on ${requestdate}. Id of the request is ${requestid}. It could either be assigned to you or could be a notification. Please login to your iPM account and check. 
${newline}
This is a system generated email, please don't reply to this.
${newline}
Thanks,
${newline}
iPM Admin Team